/* header */ 

header {
    background: url('img/bgphotshop.png');
    background-size: cover;
    background-position: center;
    
}

.text-intro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.preTxt {
    font-style: italic ;
    font-size: 70px;
    margin: 0;
    color:#2f2d2d;
    line-height: 0.5;
}

h1 {
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan Script';
    font-weight: 700;
}


/* nav */ 

.navbar-brand {
    font-size: 45px!important; /* on écrit par-dessus le style de la classe navbar-brand Bootstrap */ 
    font-family: 'Kaushan Script'!important; 
}

.navbar a {
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
}


/* à propos */ 

#aPropos {
    margin-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}


/* 3 icones */ 

.icones {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* premiere banniere */ 

#ban1 {
    position: relative;
    background: url(img/banniere1.png);
    background-position: right; /*focus sur partie droite de l'img*/ 
    background-attachment: fixed; /*effet */
    background-repeat: no-repeat;
    text-align: center;
}


/* galerie */ 

#galerie {
    padding-bottom: 100px;
}

.h2Photos {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 70px;
}

#galerie .container p {
    padding-bottom: 40px;
}



 nav ul {
    display: flex;
    justify-content: space-between;
  } 
        

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #69aece;
    background-clip: border-box;
    border: 1
px
 solid rgba(0, 0, 0, 0.048);
    border-radius: 0.25
rem
;
}

body{
    background-color: #95edff;
    background-image: url('');
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url();


}

#haut {
    padding-left: 5%;
    padding-top: 10%;
}

.adresse {
    border: solid;
}

/* bouton */
.btnabo {
  
    
    margin-top: 5%;
    
    margin-left: 30%;
    }




/* carte */

#ok {
    width: 130%
    ;
margin-top: 15%;

margin-left: 5%;
}

#okabo {
  
    
margin-top: 15%;

margin-left: 15%;
}
#profil {
    
    
   padding-right: 10%;
   margin-bottom: 10%;
  

}

#grille {
    
   
    
}

#haut {
    padding-left: 5%;
    padding-top: 10%;
}

