body{
    background-color: #507f88;
    background-image: url('');
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url();


}

.col-sm-5{
    margin: auto;

}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #69aece;
    background-clip: border-box;
    border: 1
px
 solid rgba(0, 0, 0, 0.048);
    border-radius: 0.25
rem
;
}

.btn-primary {
    color: #fff;
    background-color: #5c7a88;
    border-color: #5c7a88;
}

/* bouton */
.btnabo {
  
    
    margin-top: 5%;
    
    margin-left: 30%;
    }




/* carte */

#ok {
    width: 130%
    ;
margin-top: 15%;

margin-left: 5%;
}

#okabo {
  
    
margin-top: 15%;

margin-left: 15%;
}
#profil {
    
    
   padding-right: 10%;
   margin-bottom: 10%;
  
}

#grille {
    
   
    
}

#haut {
    padding-left: 5%;
    padding-top: 10%;
}

/*.adresse {
    border: solid;
}*/
