<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affichage patient</title>
</head>
<body>
    <h1>Listes des patients</h1>
    <ul>
    {% for value in data %}
        <li>{{value.nom}} {{value.prenom}} {{value.securite_sociale}}
            <a href="{{url_for('delete', id = value.idpatient)}}"> Supprimer </a>
        </li>

    {% endfor %}
    </ul>
</body>
</html>
